@page "/"
@using BlazorSlider.Models
@using BlazorSliderLib


<PageTitle>Home</PageTitle>


<div class="container"> 

    <EditForm Model="@Model">

        <div class="row">
            <div class="form-control col-md-4">
                <p><b>EQ5D-5L question 6.</b> <br />We would like to how good or bad your health is TODAY.</p>
            </div>
        </div>

        <div class="row">
            <div class="form-control col-md-4">
                <Slider T="int" Minimum="0" Maximum="100" ValueChanged="@((e) => UpdateStateIfNecessary(e))" Stepsize="5" Title="Your health today"
                    MinimumDescription="0 = The worst health you can imagine" MaximumDescription="100 = The best health you can imagine" />
            </div>
        </div>

        <div class="row">
            <div class="form-control col-md-4"> <p>Value of Model.Data.Eq5d6</p>
                @Model.Data.Eq5dq6 
            </div> 
        </div>


    </EditForm>

</div>

@code {
    private HomeModel Model { get; set; } = new();

    private void UpdateStateIfNecessary(int value)
    {
        Console.WriteLine($"The curent value is {value}");
        Model.Data.Eq5dq6 = value;
        StateHasChanged();
    }
}

