@page "/"
@using BlazorSlider.Models
@using BlazorSliderLib
@using static BlazorSlider.Models.HomeModel.HomeDataContract

<PageTitle>Home</PageTitle>

<div class="container"> 

     <div class="row">
            <div class="form-control col-md-4">
                <p><b>EQ5D-5L question 1.</b> <br />Mobility. Ability to walk.</p>
            <BlazorSliderLib.Slider T="Eq5dWalk" UseAlternateStyle="true" Title="Ability to walk" ValueChanged="@((e) => UpdateEq5dq1(e))"
                    MinimumDescription="Incapable = The worst ability to walk you can imagine" MaximumDescription="No Problems = The best ability to walk you can imagine" />
            </div>
        </div>

        <div class="row">
            <div class="form-control col-md-4">
                <p><b>EQ5D-5L question 6.</b> <br />We would like to how good or bad your health is TODAY.</p>
            </div>
        </div>

        <div class="row">
            <div class="form-control col-md-4">
                <BlazorSliderLib.Slider T="int" UseAlternateStyle="false" Minimum="0" Maximum="100" ValueChanged="@((e) => UpdateEq5dq6(e))" Stepsize="5" Title="Your health today"
                    MinimumDescription="0 = The worst health you can imagine" MaximumDescription="100 = The best health you can imagine" />
            </div>
        </div>

    <div class="row">
        <div class="form-control col-md-4">
            <p>Value of Model.Data.Eq5dq1</p>
            @Model.Data.Eq5dq1
        </div>
    </div>

    <div class="row">
            <div class="form-control col-md-4"> <p>Value of Model.Data.Eq5d6</p>
                @Model.Data.Eq5dq6 
            </div> 
    </div> 

       
</div>

@code {
    private HomeModel Model { get; set; } = new();

    private void UpdateEq5dq1(Eq5dWalk value)
    {
        Model.Data.Eq5dq1 = value;
    }

    private void UpdateEq5dq6(int value)
    {
        Model.Data.Eq5dq6 = value;
    }

}

